<!DOCTYPE html>
<html>
<title>Sistema de Ventas</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
{% load static %}
<body>
  {% include "header.html" %}
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Bienvenido</h3>
        <p>Usted usando el sistema podrá registrar las ventas diarias de su negocio y gracias a esos datos podrá controlar su crecimiento</p>
      </div>
      <div class="col-sm-4">
        <h3>Columna 2</h3>
        <p>Esta es la columna 2</p>
      </div>
      <div class="col-sm-4">
        <h3>Columna 3</h3>
        <p>Esta es la columna 3</p>
      </div> 
    </div>
  </div>
</body>
</html> 