<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Consulta de productos</title>
</head>
<body>
    {% include "header.html" %}
    <div class="container">
        <h1>Productos</h1>
        <p>Todos los productos registrados en una lista</p>
        {% if listProductos %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in listProductos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.stock }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h1>No hay datos</h1>
        {% endif %}
    </div>
</body>
</html>